@charset "utf-8";
/* CSS Document */
body, div, h1, h2, h3, h4, h5, span, a, img, input, ul, li, ol, dl, dt, dd, table, tr, td, p{ margin: 0px; padding: 0px; border: 0px; list-style: none }
body { background:white; font-family: "微软雅黑","PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif"; font-size: 12px; background: white;color:#3c3c3c;font:12px/1.5 tahoma,arial,"Hiragino Sans GB","宋体",sans-serif}
input:focus {outline:none;}
a{blr:expression_r(this.onFocus=this.close());}
a{blr:expression_r(this.onFocus=this.blur());}
a:focus { -moz-outline-style: none; }
a:link, a:visited { text-decoration: none;color:#3c3c3c}
a:hover{ text-decoration:none;color:#f22e00}
.lb-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
em{color: #f40;}
*html .lb-clearfix{height:1%}
/*淘宝iconfont*/
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*公共*/
.fl{ float: left}
.fr{float: right}
.tb_orange{color:#f22e00}
.tb_gray{ color:#6c6c6c}
.nav-icon{font-size:12px;display: inline;}
.mr{margin-right: 7px}
/*通栏*/
#fixed{ width: 100%;height: 35px;line-height: 35px;background: #f5f5f5;border-bottom: 1px solid #eeeeee;position: fixed;z-index: 10000}
.fix_main{ width: 1190px;height: 100%; margin: 0px auto;}
.login-register{ }
.padd7{ padding:0 6px;}
.login:link,.login:visited{color:#f22e00}
.register{ }
.site-nav-pipe { display: inline; float: left; height: 35px; line-height: 35px;color: rgb(221, 221, 221); font-style: normal; padding: 0 5px;}
.tb_sj{ float: right; width: 0;height: 0;border-width: 4px;border-style: solid;border-color: #9d9da3 transparent transparent transparent;margin:16px 0px 0px 0px; position: relative;top:0px;left:-2px}
.tb_sj_in{ float: left; width: 0;height: 0;border-width: 4px;border-style: solid;border-color: #f5f5f5 transparent transparent transparent;position: absolute;top:-6px;left:-4px}
.o-icon{ color:#ff4400;font-size: 12px}
.g-icon{ color:#9c9c9c;font-size: 12px}
.fl a{display: inline;float: left}
.fl a i{display: inline;}
.fl a:hover span{color:#ff4400}
.nav_span{ display: inline;}
.nav_sj{float: left}
.menu-hd { height: 35px; line-height: 35px; padding: 0 6px; position: relative; z-index: 10002;}
.menu-bd {display: none; margin: -1px 0px 0px -1px; position: relative; z-index: 10001;}
.menu-bd-panel{ background: none repeat scroll 0 0 #ffffff; border: 1px solid #eeeeee; left: 0;line-height: normal; padding: 8px 0px; position: absolute;  top: 0;}
.menu-bd-panel a {color: #6c6c6c;  display: block; line-height: 28px; padding: 0 5px; white-space: nowrap;float: none}
.menu-bd-panel a:hover{color:#6c6c6c;background:#f5f5f5}

#main{width: 100%;}
.menu-bd .menu-bd-panel .mod {display: inline; float: left; overflow: hidden; width: 25%;}
.menu-bd .menu-bd-panel .mod .mod-wrap { padding: 0 0 0 5px;border-right: 1px solid #eeeeee;overflow: hidden;}
.menu-bd .menu-bd-panel .mod .mod-wrap h4 { background-position: -100px 0; height: 0; margin: 5px; overflow: hidden; padding-top: 20px; width: 80px;}
.menu-bd .menu-bd-panel .mod .mod-wrap li {width: 30%;display: inline; float: left; height: 25px; overflow: hidden; padding-top: 5px;}
.menu-bd .menu-bd-panel .mod .mod-wrap li a:after { clear: both; content: ""; display: table;}
.menu-bd .menu-bd-panel .mod .mod-wrap li a { border-radius: 2px;  display: inline; float: left; height: 25px; line-height: 25px; margin: 0 2px; padding: 0 8px; position: relative;}
.menu-bd-panel .mod .mod-wrap li a .hot{ background: url("../images/T1hOy5XhNnXXXXXXXX-9-14.gif") no-repeat center center;}
.menu-bd-panel .mod .mod-wrap li a i { display: block; height: 14px; overflow: hidden;position: absolute; right: 0; top: -5px;width: 9px;}
.menu-bd .menu-bd-panel .mod-a a:hover { background: #ff5500;color:white}
.menu-bd-panel .mod .mod-wrap h4 { background: url("../images/T1wLGVFcRfXXXa78nI-400-200.png") no-repeat center center}
.menu-bd .menu-bd-panel .mod .mod-wrap h4 { background-position: -100px 0; height: 0; margin: 5px; overflow: hidden; padding-top: 20px; width: 80px;}
.site-nav-bd .site-map .menu-bd .menu-bd-panel{ left: auto; overflow: hidden;right: 0;}
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod-b .mod-wrap h4 { background-position: -100px -20px;}
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod-c .mod-wrap h4 { background-position: -100px -40px;}
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod-d .mod-wrap h4 { background-position: -100px -60px;}
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod-b .mod-wrap a:hover { background:#a0b959;color: white}
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod-c .mod-wrap a:hover {background: #df61ab;color: white}
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod-d .mod-wrap a:hover { background: #52a0e5;color: white}
.screen-hd .map .mod .mod-wrap li a .new, .site-nav-bd .site-map .menu-bd .menu-bd-panel .mod .mod-wrap li a .new { background: url("../images/T1lni5XhXXXXXXXXXX-9-14.gif") no-repeat center center;}
/*main*/
#main{width: 1200px;height: auto;margin: 0px auto; position: relative;padding-top: 36px}
.head { height: 100px; overflow: hidden; padding-top: 30px;}
.logo{float: left}
a.logo_a{ background:url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat 0 0;display: block; float: left; width: 230px; height: 80px; margin-top: 8px;}
.search-wrap{ width: 768px;height: 99px;float: left; position: relative;margin-left: 16px}
.search-bd-top li{ cursor: pointer; float: left; width: 50px; height: 25px; line-height: 25px; text-align: center;}
.selected{ background: #ff5400; color: #ffffff; font-weight: 700;}
.riggers:hover { background: #ffeee5; color: #ff5400;}

.search-input{ width: 613px;height: 34px;background: white;border:3px solid #ff5400;float: left;border-right:none; padding-left: 0.5em;color:#9c9c9c;}
.search-button{ background:url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat -250px 0;width: 100px;height: 40px;float: left;cursor: pointer;}
.search-button:hover{background-position: -400px 0px}
a.advanced-search{ color:#6c6c6c;float: left; margin-left: 16px}
.search-hots{ height: 20px; overflow: hidden; padding: 5px 41px 0 0; position: relative;}
.search-hots a { display: inline; float: left; margin-right: 8px;}
.more{ background: none repeat scroll 0 0 #ffffff; border: 1px solid #e8e8e8; margin-right: 0; padding: 0 10px 0 5px; position: absolute; right: 36px; top: 3px;}
.more i {left: 30px;position: absolute; top: 6px;}
.em { color: #ff4400;}
.more em { border-left-color: #dadada; left: 2px;}
.more span{ border-color: rgba(255, 255, 255, 0);  border-style: solid; border-width: 3px 0 3px 3px; height: 0; left: 0;  overflow: hidden; position: absolute;  top: 0; width: 0;}
.more span{ border-left-color: #dadada;}
.search-hots .more:hover {background: none repeat scroll 0 0 #ff4400; border-color: #ff4400; color: #ffffff;}
.more:hover span{ border-left-color: #fff;}
.tb-phone{ margin-top: -20px; position: relative;display: inline; float: left; margin-left: 90px;}
.tb-phone-bd{ border: 1px solid #e8e8e8; color: #6c6c6c; cursor: pointer; display: block; width: 94px; height: 112px; overflow: hidden; position: relative; text-align: center;}
.tb-phone-bd span{ display: block; width: 78px; height: 20px; line-height: 20px; margin: 4px auto 0; overflow: hidden;}
.tb-phone-bd img { display: block; height: 80px; margin-left: 8px; width: 80px;}
.tb-phone-exit{ border: 1px solid #e8e8e8; display: block; width: 18px; height: 18px; left: -19px; position: absolute; top: 0;}
.fpicon{ width: 11px;height: 11px; margin-left: 4px; margin-top: 4px; display: inline-block; text-indent: -3000px; vertical-align: middle;background:url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat -154px -364px;}
.h{ color:#ff4400 !important}
.count{width: 100%;}
.slide_left{ width: 190px;position: relative;float: left;background-color: #ffffff;
    box-shadow: 2px 2px 0 #eeeef0;}
.slide_nav_top h2{ background:#ff4400; height: 35px;}
.slide_nav_top h2 .s-service-head { height: 16px; margin: 10px 14px; text-indent: -2000px;
 width: 100px; background-position: 0 -125px;}
.service-bd{   -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color #ff4401 #ff4401; border-image: none; border-style: none solid solid;  border-width: 0 1px 1px;  height: 454px; overflow-y: hidden; padding: 0 9px;}
.service-bd dt{ font-size: 14px; font-weight: 700; line-height: 19px; padding-bottom: 1px; padding-top: 10px;}
.service-bd dt s{ height: 21px; margin-right: 7px; margin-top: -3px; width: 25px;background-position: -150px -240px;}
.service-bd dd { border-bottom: 1px solid #e6e7eb; line-height: 22px; padding-bottom: 10px; padding-left: 5px;}
.service-bd dd a { display: inline-block; position: relative; vertical-align: middle; width: 64px;}
.service-bd dd .c-2 { width: 54px;}
.service-bd dd .c-3 {width: 38px;}
.service-bd dd .c-4 { width: 29px;}
.service-bd dt s.s-service-special{ background-position: -150px -215px;}
.service-bd dd .c-7{width: 56px;}
.service-bd .last-dd { border: 0 none;}
.gif-new{ background: url("../images/T1lni5XhXXXXXXXXXX-9-14.gif") no-repeat center center}
.gif-hot{ background: url("../images/T1hOy5XhNnXXXXXXXX-9-14.gif") no-repeat center center;}
.gif-hot, .gif-new { width: 9px; height: 14px; margin-left: -1px; margin-top: 0; position: absolute; top: 0;}
.service-bd dt s.s-service-favourable {background-position: -150px -190px;}
.slide_nav_top .more{ background: none repeat scroll 0 0 #ffffff; border: 1px solid #e8e8e8; margin-right: 0; padding: 0 10px 0 5px; position: absolute; right: 9px; top: 45px;}
.slide_nav_top .more:hover { background: #ff4400; border-color: #ff4400; color: #ffffff;}
.slide_nav_top .more i { left: 30px; position: absolute; top: 6px;}
.slide_nav_top .more em { border-left-color: #dadada; left: 2px;}
.tb-slide_nav_top .more span { border-left-color: #ffffff;}
.s-cs {background-position: -191px -290px;}
.cs-banner .s-cs {  display: block; height: 32px; margin-top: 4px; margin-left: 0; width: 190px;}
.cs-banner .s-cs:hover {  background-position: -191px -331px;}
.slide_right{ float: left;position: relative;overflow: hidden;margin-left: 6px}
.sr_t{ border-bottom: 2px solid #ff4400; height: 34px; overflow: hidden;}
.sr_t .nav-hd { display: inline; float: left;height: 33px; margin-top: 4px;}
.sr_t .nav-hd li { font-size: 16px; margin: 0 10px;text-align: center;position: relative;display: inline; float: left; font-weight: 700;}
.sr_t .nav-hd li a {  color: #ff4400;  padding: 0 3px; width: 52px;display: inline; float: left; height: 28px; line-height: 28px; overflow: hidden;}
.sr_t .nav-bd { display: inline; float: left;height: 33px; margin-top: 4px;}
.sr_t .nav-bd .pipe { font-weight: 400; padding: 2px 5px 0 0; color: #e8e8e8; font-style: normal;}
.sr_t .nav-bd li { font-size: 14px; margin: 0 10px; position: relative;display: inline; float: left; font-weight: 700;}
.sr_t .nav-bd li a { padding: 0 5px;display: inline; float: left; height: 28px;line-height: 28px; overflow: hidden;}
.sr_t .nav-fr { display: inline; float: right; height: 35px; line-height: 35px; overflow: hidden; right: 0; top: -2px; width: 170px;}
.sr_t .nav-fr .nav-ft-text { float: right; margin-top: 5px;display: inline; font-weight: 700;}
.sr_t .nav-bd a:hover, .sr_t .nav-hd a:hover { background: #f4f4f4;}
.sr_b{ margin-top: 10px}
.srb_l{ width: 520px;height: auto;float: left}
.srbl_t{ width: 520px; height: 280px; overflow: hidden; position: relative;}
.srbl_ul{height:100%;position: absolute;top:0px;left:0px;}
.srblt_li{ float: left}
.n_p{ position: relative;top:120px;left:0px;display: none}
.np_li{ background-color: rgba(0, 0, 0, 0.3); color: #ffffff;  display: block;  width: 40px;height: 40px; line-height: 40px; overflow: hidden; position: absolute;cursor: pointer;}
.np_box_n{ right:0px;top:0px;}
.np_box_p{ left:0px;top:0px;}
.np_i{ display: block; width: 15px; height: 23px; overflow: hidden;background: url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat center center;margin: 8px 0 0 12px;}
.prev{ background-position: -150px -335px;}
.next{ background-position: -150px -310px;}
.srbl_b{border-bottom: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; width: 520px; height: 198px; overflow: hidden; position: relative;}
.srblb_li{float: left}
.srblb_li a{display: inline; float: left}
.zong-bd{width: 520px;overflow: hidden; display: block;}
.zong-bd a { border: 0 none; display: inline; float: left; height: 52px; overflow: hidden; padding-top: 10px; text-align: center; width: 120px;}
.mod-bd a img { height: 45px; width: 90px;}
.srblb_ul ins { border-right: 1px solid #f1f1f1; float: left; height: 100%; overflow: hidden; width: 259px;}
.b_n_p{ top:79px;}
.t_n_p_yuandian{ background:rgba(255, 255, 255, 0.3); border-radius: 10px;}
.n_p_yuandian{ bottom: 15px; font-size: 0; height: 13px; left: 50%; margin-left: -33px; position: absolute; text-align: center;}
.n_p_yuandian li{background: white; border-radius: 50%; width: 9px; height: 0; overflow: hidden; padding-top: 9px;display: inline-block; margin: 2px; vertical-align: middle;cursor: pointer;}
.n_p_yuandian li.dian_cur{ background: #ff4400;}
.srb_c{float: left;margin-left: 9px}
.srbc_li{font-size: 0; width: 170px; height: 280px; overflow: hidden;}
.srbc_li:last-child{height: 200px}
.srbc_li a{ display: block}
.srb_r{ width: 290px; background: white; display: inline;  float: left; padding-left: 15px;}
.right_nav{border: 1px solid #e8e8e8; width: 288px; height: 98px; overflow: hidden;position: relative;}
.right_nav_hd{ width: 290px; position: absolute; top: 0; left: -1px;background: #f7f7f7}
.right_nav_hd li{ border-bottom: 1px solid #e8e8e8; display: block;  float: left; width: 56px; height: 26px; line-height: 26px; overflow: hidden; padding: 0 1px; text-align: center;}
.right_nav_hd li.licur{ background: white; border-bottom-color: white; border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; font-weight: 700; padding: 0;}
.right_nav_bd{ margin-top: 27px}
.right_nav_bd_li{ height: 50px; margin: 10px;display: block; margin-top: 36px;display: none}
.right_nav_bd li:first-child{display: block;}
.right_nav_bd_li li:first-child a{color:#f22e00}
.right_nav_bd_li li{ display: block; float: left; width: 134px; height: 25px; line-height: 25px; overflow: hidden;}
.user{ background:url(../images/index.png) no-repeat right top; border: 1px solid #dddddd; width: 268px; height: 110px; margin-top: -1px; overflow: hidden; padding: 5px 10px;}
.user_hd{ height: 60px; margin-bottom: 5px; overflow: hidden; padding: 5px 0 0 70px; position: relative;}
.user_hd img { border-radius: 50%; width: 59px; height: 59px; border:1px solid #ddd; left: 0; overflow: hidden; position: absolute; top: 0;}
.vip-icon{display: inline-block; height: 14px; vertical-align: middle; width: 14px;background:url(../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png) no-repeat -350px -269px;}
.user_hd p { margin-top: 5px;}
.user_hd p a { background: #fff0e8;  border: 1px solid #fdb08e; border-radius: 2px; color: #f55732; display: block; float: left; width: 74px; height: 28px; line-height: 28px; overflow: hidden; text-align: center;}
.user_hd p a:hover{ background: #ffeadf; border-color: #fdb08e;}
.user_hd p a.btn-punch{ margin-right: 5px; width: 107px;}
.user_hd p .btn-punch i { display: inline; float: left; width: 18px; height: 18px; margin: 4px 0 4px 4px;}
.s-money{ background: url(../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png) no-repeat -150px -290px;;}
.user_bd{display: block}
.user_bd a{ width: 85px; border-left: 1px solid #e8e8e8; display: inline; float: left; margin-left: -1px; text-align: center;}
.user_bd a:first-child{border-left: none}
.user_bd a strong { color: #ff4400; display: block; font-size: 14px;}
.bianming{ background: #f4f4f4; border-top:none; width: 288px; height: 249px; overflow: hidden; padding-bottom: 10px; position: relative;}
.bm_hd{position: relative; padding:0px 16px}
.bm_hd h3{ width: 70px; height: 16px; margin-top: 10px; overflow: hidden; text-indent: -200px; background: url(../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png) no-repeat 0px -385px;;}
.bm_bd{ height: 238px; margin-top: 10px; position: relative;}
.bm_bd_wrap{ margin-left: 12px; overflow: hidden;}
.bm_bd_wrap .mod{ background: #ffffff; border-radius: 3px; color: #9c9c9c; cursor: pointer; display: inline; float: left; width: 56px; height: 63px; margin: 0 10px 10px 0;  outline: 0 none;  overflow: hidden; text-align: center;}
.bm_bd_wrap .J_mod{ border: 1px solid #dddddd;}
.bm_bd_wrap .mod:hover{ color: #ff4400; text-decoration: none; z-index: 12;}
.bm_bd_wrap i{ color: #ff4400; display: block; font-size: 22px; margin: 4px 0 -2px;}
.bm_bd_wrap .mod-arrow{ position: static; width: 5px; display: block; margin: 1px auto;}
.bm_bd_wrap .mod-arrow em{ border-color: rgba(255, 255, 255, 0); border-style: solid; border-width: 3px 3px 0; width: 0; height: 0; left: 0; overflow: hidden; display: block; overflow: hidden; position: static;border-top-color: #9c9c9c; top: 1px;}
.bm_bd_wrap .mod-hover .mod-arrow em{ display: block; overflow: hidden; position: static; width: 0; border-width: 0 3px 3px; border-bottom-color: #9c9c9c; top: -1px;}
.bm_bd_wrap .mod-arrow span { border-color: rgba(255, 255, 255, 0);  border-style: solid; border-width: 3px 3px 0; height: 0; left: 0; overflow: hidden; position: absolute; top: 0; width: 0;border-top-color: #ffffff;display: block;  margin-top: -4px; position: static;}
.bm_bd_wrap .mod-hover .mod-arrow span { border-color: rgba(255, 255, 255, 0);  border-style: solid;  border-width: 0 3px 3px; height: 0; left: 0; overflow: hidden; position: absolute; top: 0; width: 0;}
.bm_bd_wrap .mod-hover .mod-arrow span { margin-top: -2px;display: block; position: static; border-bottom-color: #ffffff;}
.bm_bd_wrap .mod-default{color:#ccc}
.mod-default i,.bm_bd_wrap .mod-default:hover{color: #ccc; cursor: default;}
.bm_bd_wrap .mod:hover i.iconfont{ -webkit-animation:toBottomFromTop .28s; -moz-animation:toBottomFromTop .28s; animation:toBottomFromTop .28s;-o-animation:toBottomFromTop .28s; animation:toBottomFromTop .28s;-ms-animation:toBottomFromTop .28s; animation:toBottomFromTop .28s;animation:toBottomFromTop .28s; animation:toBottomFromTop .28s}
@-webkit-keyframes toBottomFromTop {
    49% {
    -webkit-transform:translateY(-100%)
    -moz-transform:translateY(-100%)
    -o-transform:translateY(-100%)
    -ms-transform:translateY(-100%)
    transform:translateY(-100%)
}
50% {
    opacity:.3;
    -webkit-transform:translateY(40%)
    -moz-transform:translateY(40%)
}
100% {
    opacity:1
}
}@-moz-keyframes toBottomFromTop {
    49% {
    -moz-transform:translateY(-100%)
}
50% {
    opacity:.3;
    -moz-transform:translateY(40%)
}
100% {
    opacity:1
}
}@-o-keyframes toBottomFromTop {
    49% {
    -o-transform:translateY(-100%)
}
50% {
    opacity:.3;
    -o-transform:translateY(40%)
}
100% {
    opacity:1
}
}@-ms-keyframes toBottomFromTop {
    49% {
    -ms-transform:translateY(-100%)
}
50% {
    opacity:.3;
    -ms-transform:translateY(40%)
}
100% {
    opacity:1
}
}@keyframes toBottomFromTop {
    49% {
    transform:translateY(-100%)
}
50% {
    opacity:.3;
    transform:translateY(40%)
}
100% {
    opacity:1
}
}
.bm_bd_box{ background: #ffffff; height: 150px; left: -1px; outline: 0 none; padding: 10px 0; position: absolute; top: 66px; transition-duration: 0.3s; transition-property: top; width: 289px; z-index: 11;display: none}
a.bm_bd_box_close{ background: white url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat -150px -360px; color: #e8e8e8; display: block; width: 18px; height: 18px; position: absolute; right: 1px; text-align: center; text-indent: -2000px; top: 1px;}
a.bm_bd_box_close:hover{ background: #f22e00 url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat -150px -360px;}
.bm_bd_box_find{ position: relative;padding: 0 5px; width: 278px; height: 155px; overflow: hidden;}
.box_find_tabs{ position: relative; border-bottom: 1px solid #f2f2f2; height: 26px; line-height: 26px;}
.bft_a,.bft_a:visited{ color: #666666;padding: 3px 10px;}
.bft_a:hover{ background-color: #ffe0cc}
.bft_a_current{ background-color: #ffe0cc}
.bft_ll{ background-image: url("../images/T1GKxrXB0XXXXxwpHa-20-19.gif");background-position: right top; background-repeat: no-repeat;}
.bftb_div{ width: 300px;float: left; visibility: visible;}
.phone_number{ margin-top: 6px;}
.phone_number:after { clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.conve-input{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #afafaf #dcdcdc #dcdcdc #afafaf; border-image: none;  border-style: solid;  border-width: 1px; display: inline-block; height: 20px; letter-spacing: normal; line-height: 20px; overflow: hidden; vertical-align: top; word-spacing: normal;}
.conve-label{background: none repeat scroll 0 0 #e5e5e5; float: left; padding: 0 3px;}
.conve-combox{float: left;}
.tel{width: 125px;float: left; padding: 1px 20px 1px 3px;background:url("../images/T1gcVFFcRcXXbffaj4-200-230.png") no-repeat 0 -194px; border: 0 none; height: 18px; line-height: 18px; outline: 0 none;}
.conve-icon { cursor: pointer; display: inline-block; float: left; height: 20px; margin-left: -20px; width: 20px;}
.conve-icon-phone{background:url("../images/T1gcVFFcRcXXbffaj4-200-230.png") no-repeat -25px 2px;}
.bf_buy_tb_div{ float: left;width: 300px}
.tbr-phone-denom{ margin-top: 6px}
.conve-icon-arrows{ background:url("../images/T1gcVFFcRcXXbffaj4-200-230.png") no-repeat -24px -24px;}
.jiage{ margin-top: 6px;margin-bottom: 8px}
.jg_hd{ width: 32px; color: #666666; float: left; line-height: 16px; margin-right: 1px; text-align: center;}
.jg_bd{ float: left; line-height: 16px;}
.jg_bd span { color: #999999; font-family: arial; margin-right: 4px;}
.jg_bd  strong{ color: #FF6600; font-family: verdana,arial; font-weight: 700;}
.hf_buy a.hf_buy_a{ background: #FF4400; border:none; border-radius: 2px; color: #fff;display: inline-block;font-weight: bold; height: 21px; line-height: 21px; margin: 0 10px 0 0; padding: 3px 10px; vertical-align: top;float: left}
.hf_buy a.hf_buy_a:hover{ background: #F22D00;color: #FFFFFF !important; text-decoration: none;}
.hf_buy a.dqcz{ background:#FFFFFF; border: 1px solid #DCDCDC;color: #3E3E3E;}
.hf_buy a.dqcz:hover{ background: #FFFFFF; color: #3E3E3E !important;}
.hf_buy a.tbr-link{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 110px;float: left;color: #999999; line-height: 25px;}
.box_find_tabs_body{ width: 600px; height: 116px;position: absolute;left: 0px}

.hot-point{ background: #f5f5f5; border: 1px solid #e8e8e8; height: 43px; margin-bottom: 10px; margin-top: 15px; padding: 10px 0 11px 17px;}
.hot_point_title{ border-right: 1px solid #d5d5d5;  float: left; height: 38px; margin-right: 20px; margin-top: 3px; padding-right: 8px; position: relative; width: 30px;}
.hot_point_title h4{ font-size: 14px; line-height: 18px}
.hot_arrow{ height: 12px;  margin-top: -6px; position: absolute; right: -12px; top: 50%; width: 12px;}
.hot_arrow em,.hot_arrow span{ border-color: rgba(255, 255, 255, 0); border-style: solid; border-width: 6px 0 6px 6px; height: 0; left: 0; overflow: hidden; position: absolute; top: 0; width: 0}
.hot_arrow em{ border-left-color: #d5d5d5;left: 1px;}
.hot_arrow span { border-left-color: #f5f5f5;}
.hot_point_content{ float: left; width: 190px; height: 42px; line-height: 20px; margin-right: 28px; margin-top: 1px; overflow: hidden;}
.hot_point_content a{float: left; margin-right: 15px; position: relative; text-overflow: ellipsis; white-space: nowrap;}
.hot-point-banner{ border-left: 1px solid #e8e8e8; float: left; height: 42px; position: relative; width: 300px;}
.hot-point-banner a{ left: 0; position: absolute; top: -16px; transform: translateX(0px); transition-duration: 0.3s;}
.hot-point-banner img { height: 70px; width: 300px;}
.hot-point-banner a:hover { transform: translateX(5px);}
.screen-bd{ }
.sbd_left{ display: inline; float: left; margin-right: 0.84034%; width: 890px;}
.sbd_right{ display: inline; float: right; width: 288px;}
.cat-wrap{ color: #3c3c3c; float: left; width: 435px; height: 292px; margin-bottom: 20px; margin-right: 10px; overflow: hidden; padding: 0;}
.cat-hd{ color: #ffffff; font-family: "Microsoft YaHei","Hiragino Sans GB"; height: 24px; line-height: 24px}
.cat-wrap-pink .cat-hd{ background-color: #f5619c;}
.cat-hd h3{ float: left; width: 100px; font-size: 16px; font-weight: 700; line-height: 17px; margin-left: 14px;  margin-top: 4px;}
.cat-hd a{ color: #fff;}
.cat-hd h3 a{float: left;}
h3 .point{ display: inline-block;float: left}
.cat-hd .activity{ float: left; width: 116px; height: 17px; margin-top: 4px; position: relative;}
.cat-wrap-pink .cat-hd .activity a{ color: #f5619c;}
.cat-hd .act-arrow{ position: relative;}
.cat-hd .act-arrow em, .cat-hd .act-arrow span{ border-color: rgba(255, 255, 255, 0); border-style: solid; border-width: 5px 5px 5px 0; width: 0; height: 0; position: absolute; top:0; left: 0; overflow: hidden;}
.cat-hd .act-arrow em{ border-right-color: #ffffff;left: -4px;  opacity: 0.8; top: 4px;}
.cat-hd .activity-bg{ background-color: #ffffff; height: 100%; opacity: 0.8; position: absolute; width: 100%; z-index: 1;}
.cat-hd .activity a{ display: block; width: 104px; height: 17px; left: 5px; line-height: 19px; overflow: hidden; position: absolute; top: 0; z-index: 2;}
.cat-hd a:hover{ text-decoration: underline;}
.cat-hd .cat-tags{ float: right; margin-right: 14px;}
.cat-hd .cat-tags span{ opacity: 0.6;}
.cat-bd{ border: 1px solid #e8e8e8; border-top: 0; border-right: 0; height: 260px;-webkit-transition-property: border;-moz-transition-property: border;-o-transition-property: border;transition-property: border;-webkit-transition-duration: .5s;-moz-transition-duration: .5s;-o-transition-duration: .5s;transition-duration: .5s;}
.cat-list{ float: left; overflow: hidden; padding-left: 15px; width: 300px;}
.list-item{ padding: 10px 0;}
.bottom-border { border-bottom: 1px solid #eeeeee;}
.cat-list ul { height: 22px; margin: 4px 0; overflow: hidden;}
.cat-list li { color: #6c6c6c; float: left; line-height: 22px; padding-right: 12px; text-decoration: none;}
.cat-list .item-header { width: 52px;}
.cat-list li a { color: #3c3c3c;}
.cat-list .item-header a { color: #3a3a3a; font-size: 12px; font-weight: 700;}
.cat-list li .em, .cat-list li a:hover { color: #ff4400;}
.cat-banner { display: block; float: right; height: 260px; overflow: hidden; width: 100px;}
.cat-banner-image{ display: block; width: 100px; height: 260px; background: url("../images/TB1lxWVGFXXXXcEXVXXNS47VFXX-100-260.png") no-repeat center center}
.cat-wrap-purple .cat-hd{ background-color: #aa73d1;}
.cat-wrap-purple .cat-bd .cat-list .left-world a, .cat-wrap-purple .cat-hd .activity a{ color: #aa73d1;}
.cat-wrap-purple .cat-banner-image{ display: block; width: 100px; height: 260px; background: url("../images/TB1St5MGFXXXXcpXFXXNS47VFXX-100-260.png") no-repeat center center}
.cat-wrap-green .cat-hd{ background-color: #97b921;}
.cat-wrap-green .cat-hd .activity a{ color: #97b921;}
.cat-list .hot-world-wrapper{ height: 140px; overflow: hidden;}
.hot-world-list{ overflow: visible; width: 300px;}
.cat-list .left-world{ padding-right: 0;}
.cat-list .hot-world-list li{ height: 18px; line-height: 18px;}
.cat-list .right-world{ border-left: 1px solid #ebebeb; padding-left: 8px; padding-right: 0;}
.cat-list .left-world a{ color: #83a700;margin-right: 8px}
.cat-wrap-pink .cat-list .left-world a{ color: #f5619c;}
.cat-list .right-world a { color: #9c9c9c; margin-right: 8px;}
.cat-list .right-world .hot-world { color: #ff4300;}
.cat-b-wrapper{height: 226px}
.cat-b-wrapper .cat-bd{ height: 200px}
.cat-b-wrapper .cat-bd .cat-banner{ height: 200px}
.cat-b-wrapper .cat-banner-image{ display: block; width: 100px; height: 200px; background: url("../images/TB1fp8uGpXXXXXFXXXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-green .cat-banner-image{ background: url("../images/TB11fiKGFXXXXbrXVXXKadWVFXX-100-200.jpg") no-repeat center center}



.discover{ background-color: #f5f5f5; border: 1px solid #e8e8e8; height: 2090px; padding: 20px 14px;position: relative;}
.discover dt{ margin-bottom: 10px;}
.s-good-goods{ background: url("../images/TB1u2lhGXXXXXXcapXXyTkXLpXX-500-444.png") no-repeat -250px -125px}
.fpicon{ display: inline-block; text-indent: -3000px; vertical-align: middle;}
.discover dt s{ height: 18px; text-indent: -3000px; width: 120px;}
.goods-content{ height: 1338px;}
.content-wrapper{ background-color: #ffffff; min-height: 200px;}
a.preference-btn{ background-color: #ffffff; border: 1px solid #ff4300; color: #ff4300; line-height: 14px; padding: 2px 4px; position: absolute; right: 15px; top: 20px; transition-duration: 0.2s; transition-property: background; z-index: 2;}
a.preference-btn:hover{ background-color: #ff4300; color: #ffffff;}
.discover-item{ border: 1px solid #e8e8e8; height: 100px; margin-top: -1px; overflow: visible; padding: 17px 10px 17px 16px; position: relative; z-index: 1;}
.discover-item:hover{z-index: 2}
.discover-item img{ float: left; height: 100px; margin-right: 8px; width: 100px;}
.discover-item .item-desc{ float: left; width: 112px;}
.discover-item .item-desc h4 { color: #444444; font-size: 14px; width: 120px; height: 16px; line-height: 16px; margin-bottom: 10px; margin-top: 4px; overflow: hidden;}
.discover-item .item-desc .item-comment{ color: #737373; height: 40px; line-height: 20px; margin-bottom: 8px; overflow-y: hidden; position: relative;}
.discover-item .item-desc .item-count{ color: #ff4400;}
.discover-item .item-desc .item-count em{ font-weight: bolder;font-style: normal}
.preference-trigger-wrapper{ height: 0; left: 0; overflow: hidden; position: absolute; top: 130px; transition-duration: 0.2s; transition-property: height; width: 100%; z-index: 2;}
.preference-trigger-wrapper ul{ background-color: #f5f5f5; height: 30px; line-height: 30px; margin-top: 0!important;}
.preference-trigger-wrapper li{ float: left; text-align: center; width: 33%;}
.preference-trigger-wrapper li{ float: left; text-align: center; width: 33%;}
.preference-trigger-wrapper .show-preference { color: #ff4300;}
.preference-trigger-wrapper .bottom-border { background-color: #666666; height: 4px; opacity: 0.2;}
.cat-gg { float: left; margin-bottom: 23px;}
.cat-wrap-sky .cat-hd { background-color: #10c2ce;}
.cat-wrap-blue .cat-hd { background-color: #52a0e8;}
.cat-wrap-sky .cat-hd .activity a { color: #10c2ce;}
.cat-wrap-blue .cat-hd .activity a { color: #52a0e8;}
.cat-wrap-sky .cat-bd .cat-list .left-world a { color: #00a4b0;}
.cat-wrap-blue .cat-bd .cat-list .left-world a { color: #107fe7;}
.cat-wrap-sky .cat-banner-image{ display: block; width: 100px; height: 200px; background: url("../images/TB10Y4aGFXXXXbAXVXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-blue .cat-banner-image{ display: block; width: 100px; height: 200px; background: url("../images/TB1x3AlGXXXXXaXXFXXoaJWVFXX-100-200.png") no-repeat center center}
.small-cat-wrapper .cat-list ul { margin: 6px 0;}
.cat-wrap-purple .cat-hz{  display: block; width: 100px; height: 200px; background: url("../images/TB1VJvdGFXXXXcdXXXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-pink .cat-my{  display: block; width: 100px; height: 200px; background: url("../images/TB1zryZGFXXXXb5XFXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-brown .cat-hd { background-color: #b68571;}
.cat-wrap-brown .cat-bd .cat-list .left-world a, .cat-wrap-brown .cat-hd .activity a { color: #b68571;}
.cat-wrap-brown .cat-jjjf{ display: block; width: 100px; height: 200px; background: url("../images/TB1rXk9GpXXXXXcXVXXKadWVFXX-100-200.jpg") no-repeat center center}
.cat-wrap-brown .cat-jzsj{display: block; width: 100px; height: 200px; background: url("../images/TB1m76XGFXXXXXEXpXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-green .cat-hcms{display: block; width: 100px; height: 200px; background: url("../images/TB1SraQGFXXXXciXXXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-brown .cat-bhry{display: block; width: 100px; height: 200px; background: url("../images/TB1TXCQGFXXXXbQXXXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-blue .cat-qcmt{display: block; width: 100px; height: 200px; background: url("../images/TB1Rb2uGFXXXXayXXXXKadWVFXX-100-200.jpg") no-repeat center center}
.cat-wrap-green .cat-hnwy{display: block; width: 100px; height: 200px; background: url("../images/TB1aIt4GFXXXXboXXXXoaJWVFXX-100-200.png") no-repeat center center}
.cat-wrap-green .cat-shfw{display: block; width: 100px; height: 200px; background: url("../images/TB1.YVEGFXXXXbzXFXXKadWVFXX-100-200.jpg") no-repeat center center}
.cat-wrap-sky .cat-more{display: block; width: 100px; height: 200px; background: url("../images/TB1VoCdGFXXXXbBXFXXoaJWVFXX-100-200.png") no-repeat center center}

.wall{ -moz-border-bottom-colors: none;  -moz-border-left-colors: none; -moz-border-right-colors: none;  -moz-border-top-colors: none; border-color: -moz-use-text-color #e8e8e8 #e8e8e8; border-image: none; border-right: 1px solid #e8e8e8; border-style: none solid solid; border-width: 0 1px 1px; margin-top: 10px; overflow: hidden; padding: 20px; z-index: 1;}
.wall .wall-item{ display: block; float: left; margin: 1px; position: relative;}
.wall .wall-item img{ height: 70px; width: 70px;}
.wall .wall-item .wall-item-desc{  display: none; height: 70px; left: 0; opacity: 0; overflow: hidden; position: absolute; text-align: center; top: 0; transition-duration: 0.3s; transition-property: opacity; width: 72px; word-break: break-all; z-index: -1;}
.wall .wall-item .wall-item-desc p{ color: #ffffff; height: 34px; line-height: 18px; margin-left: 10px; margin-top: 8px; overflow: hidden; width: 50px;}
.wall .wall-item .wall-item-desc .item-count{  color: #ffffff; font-size: 13px; margin-left: 10px; margin-top: 6px; width: 50px;}
.wall .wall-item:hover .wall-item-desc{ background-color: #ff4401; display: block; opacity: 1; z-index: 3;}
.change-wrapper{ -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #ffffff; border-color: -moz-use-text-color #e8e8e8 #e8e8e8; border-image: none; border-right: 1px solid #e8e8e8; border-style: none solid solid; border-width: 0 1px 1px; color: #737373; cursor: pointer; padding: 8px 0;}
.change-wrapper .s-change-gray { height: 17px; margin-left: 86px; margin-right: 7px; width: 15px;background: url("../images/TB14v57GFXXXXacXVXXyTkXLpXX-500-444.png") no-repeat -100px -380px}
.change-wrapper:hover{ color: #ff4400;}
.change-wrapper:hover .s-change-gray{background-position: -100px -400px}
.discover .shop-dt{ margin-top: 14px;}
.discover dt{ margin-bottom: 10px;}
.s-good-shop{ background: url("../images/TB14v57GFXXXXacXVXXyTkXLpXX-500-444.png") -250px -100px;}
.discover dt s{ height: 18px; text-indent: -3000px; width: 120px;}
.shop-content{ height: 589px;}
.content-wrapper{ background-color: #ffffff; min-height: 200px;}
.discover .shop{ border: 1px solid #e8e8e8; color: #747474; margin-top: -1px; padding: 13px 14px 14px; position: relative; z-index: 1;}
.discover .shop-logo { border-radius: 40px; display: inline-block; height: 40px; margin-right: 10px; text-indent: 0; vertical-align: middle; width: 40px;}
.s-discover-logo{ background-position: -150px -145px;}
.discover .shop-logo img{ border-radius: 40px; display: inline-block; height: 40px; margin-right: 10px; text-indent: 0; vertical-align: middle; width: 40px;}
.discover .shop-desc{ color: #444444; display: inline-block; vertical-align: middle;}
.discover .shop-comment{ height: 22px; margin-top: 10px; position: relative;}
.discover .no-content{ color: #cccccc;}
.discover ul{ margin-top: 12px; overflow: hidden;}
.discover .shop .wall{ border: 0 none; padding: 0;}
.discover ul .wall-item { float: left; margin: 0 3px;}
.discover ul .wall-item img{ height: 70px; width: 70px;}
.discover .shop-comment span { border-right: 1px solid #eaeaea; color: #6c6c6c; display: inline-block; line-height: 14px; margin-right: 6px; padding-right: 6px; vertical-align: middle;}
.discover .shop:hover { border: 1px solid #ff4400; z-index: 2;}
.discover-gg { margin-left: -12px; margin-top: 10px;}
.last-gg{margin-bottom: 0px}
.channel{ clear: both; height: 365px; margin-top: 20px;}
.channel-item{ border: 1px solid #e8e8e8; color: #3c3c3c; float: left; height: 335px; margin-left: -1px; padding: 14px; position: relative; width: 169px; z-index: 1;}
.channel-item:hover{ border: 1px solid #f40; z-index: 10;}
.channel div, .channel p{ line-height: 13px;}
.channel-item .channel-header{ color: #6c6c6c; height: 20px; margin-bottom: 7px; overflow: hidden;}
.channel-item .s-s-star{ width: 32px;background: url("../images/TB14v57GFXXXXacXVXXyTkXLpXX-500-444.png") no-repeat 0 -245px}
.channel-item .channel-header .fpicon{height: 16px; margin-right: 6px;}
.g-u{ display: inline-block; vertical-align: middle;}
.channel-item .channel-header em{ margin-bottom: -3px;}
.channel-item .channel-main .pic-box img {height: 100px; width: 169px;}
.channel-item .channel-main .pic-box:hover em{ color: #f40;}
.channel-item .channel-main .pic-desc{background: #f5f5f5; display: block; height: 32px; padding: 7px 10px 9px; text-align: center;}
.channel-item .channel-main .pic-desc em{color: #3c3c3c; display: block;font-size: 12px;font-weight: bolder; height: 15px; line-height: 15px; margin-bottom: 5px; overflow: hidden;}
.channel-item .channel-main .pic-desc span{ color: #9c9c9c; display: block;height: 14px; line-height: 13px; overflow: hidden;}
.channel-item .channel-extra{ margin-top: 13px;}
.channel-item .pics{ overflow: hidden; width: 169px;}
.channel-item .pics .g-u{display: block; float: left; margin: 0 5px 0 6px; width: 70px;}
.channel-item .pics img{ height: 70px; width: 70px;}
.channel-item .pics .pic-desc{ height: 16px; line-height: 16px; margin-top: 5px; text-align: center;}
.channel-item .channel-tag{ height: 18px; line-height: 18px; margin-top: 8px; overflow: hidden; white-space: nowrap; width: 169px;}
.channel-item .article-title { height: 18px; line-height: 18px; margin-top: 8px; overflow: hidden; white-space: nowrap; width: 169px;}
.channel-item .channel-tag a{ border-right: 1px solid #e1e1e1; margin-right: 2px; padding-right: 5px;}
.channel-item .channel-tag a:last-child{ border-right: 0 none; margin-right: 0; padding-right: 0;}
address, cite, dfn, em, var{ font-style: normal;}
.s-s-world{ background-position: 0 -185px;}
.channel-item .s-s-auction, .channel-item .s-s-girl, .channel-item .s-s-world{width: 47px;}
.channel-item .channel-header .fpicon{ height: 16px; margin-right: 6px;}
.channel-item .s-s-daily, .channel-item .s-s-travel{ width: 64px;}
.s-s-auction{ background-position: 0 -145px;}
.s-s-daily{ background-position: 0 -225px;}
.s-s-girl{ background-position: 0 -205px;}
.s-s-travel{ background-position: 0 -165px;}
.travel-whither { border: 1px solid #e8e8e8; margin-top: 14px; padding: 8px; position: relative;}
.travel-whither .s-hot{ height: 36px; left: 0; position: absolute; top: 0; width: 34px;}
.s-hot{ background-position: -150px -380px;}
.guang-wrapper{ }
.guang-wrapper .row-hd{ margin-top: 16px; padding-bottom: 16px;}
.guang-wrapper .row-hd .s-guang-icon{ background:url("../images/TB14v57GFXXXXacXVXXyTkXLpXX-500-444.png") no-repeat 0 -403px; height: 20px; text-indent: -2000px; width: 55px;}
.guang{ height: 180px; overflow: hidden;}
.guang-images{ float: left;}
.guang-images li{ float: left; margin-right: 10px; position: relative;}
.guang-images li img{ height: 180px; width: 135px;}
.guang-images li p{ background: none repeat scroll 0 0 #ffffff; bottom: 10px; height: 25px; left: 12px; line-height: 25px; position: absolute; text-align: center; width: 110px;}
.guang-right{ overflow: hidden; width: 318px;}
.guang-right h3{ border-bottom: 1px solid #e3e3e3; font-size: 14px; line-height: 16px; margin-bottom: 16px; padding-bottom: 8px; position: relative;}
.more-box{ background:  #ffffff; border: 1px solid #e8e8e8; margin-right: 0; padding: 0 10px 0 5px; position: absolute; right: 0; top: 0;}
.guang-right h3 .more-box{ font-size: 12px;font-weight: 400;}
.more-box em, .more-box span{ border-color: rgba(255, 255, 255, 0); border-style: solid; border-width: 3px 0 3px 3px; width: 0; height: 0; left: 0; overflow: hidden; position: absolute; top: 0;}
.more-box i em, .more-box i span{ overflow: visible;} 
.more-box em{ border-left-color: #dadada; left: 2px;}
.more-box i{left: 30px; position: absolute; top: 6px;}
.more-box:hover{ background: #ff4400; border-color: #ff4400; color: #ffffff;}
.more-box:hover em{ border-left-color: #ffffff;}
.more-box:hover span{ border-left-color: #ff4400;}
.guang-right .slide-wrapper{ float: left; height: 130px; margin-right: 20px; overflow: hidden; position: relative; width: 156px;}
.guang-right .slide-wrapper .slides_container{ height: 130px; margin-left: 30px; position: relative; width: 110px;overflow: hidden}
.guang-right .slide-wrapper .slides_container .tab-pannel{ height: 133px; width: 110px;float: left;display: block; overflow: hidden;}
.guang-right .slide-wrapper .slides_container .tab-pannel img{ height: 110px; width: 110px;}
.guang-right .slide-wrapper p{ font-weight: bolder; line-height: 14px; text-align: center;}
.guang-right .guang-articles{ float: left; line-height: 24px; width: 140px;}
.guang-right .guang-articles li{ height: 24px; overflow: hidden;}
.guang-lunbo{ overflow: hidden; position: absolute;height: 133px}
.screen-ft{ }
.row:after { clear: both; content: ""; display: table;}
.newsale{ border-bottom: 1px solid #e8e8e8; clear: both; height: 427px; margin-bottom: 15px; overflow: hidden; padding: 20px 0;}
.sale-hd{ border-bottom: 1px solid #e8e8e8; overflow: hidden; padding-bottom: 5px;}
.sale-hd h3{ display: inline; float: left; height: 0; overflow: hidden; padding-top: 17px; width: 71px; background:url("../images/TB14v57GFXXXXacXVXXyTkXLpXX-500-444.png") no-repeat  0 -360px}
.sale-hd .sale-p4p{ display: block; float: right; height: 20px; line-height: 20px; overflow: hidden;}
.sale-hd .sale-p4p a{ background-position: -399px 5px; color: #666666; display: inline; float: left; height: 14px; line-height: 14px; margin-left: -1px; padding: 0 10px;}
.sale-hd .sale-p4p a.line{ border-right: 1px solid #e8e8e8;}
.sale-hd .sale-p4p a.line:hover{ color:#f22e00}
.group{ float: left;}
.big{ width: 21%;}
.small {width: 14.5%;}
.small .sub-title{  display: none;}
.small .line-3 { display: none;}
.item{ border-right: 1px solid #e8e8e8; float: left; padding-top: 10px; position: relative; width: 100%;}
.item .item-content{ margin: 0 auto; position: relative; width: 150px;}
.big .item-content{ height: 411px; width: 220px;}
.item-hover{ display: none; height: 210px; left: 0; position: absolute; top: 0; width: 100%;}
.big .item-hover{ height: 421px;}
.item-content .image{ display: table-cell; font-size: 0; height: 150px; overflow: hidden; text-align: center; vertical-align: middle; width: 150px;}
.item-content .image img{ border: 0 none;}
.line-1{ height: 20px; line-height: 20px; margin: 7px 0 1px; overflow: hidden;}
.big .line-1{ margin: 15px 0 1px;}
.item-content .price{ color: #ff4400; float: left; font-family: arial; font-weight: 700;}
.big .price{ font-size: 16px;}
.line-2{ height: 15px; line-height: 15px; overflow: hidden;}
.item-content .sell{ color: #999999; float: left;}
.item-content .sell em{ color: #999999; font-family: arial;}
.sub-title{ color: #666666; height: 71px; margin: 14px 0 31px; overflow: hidden;}
.line-3{ height: 24px;}
.item-content .comment, .item-content .collect{ color: #999999;}
.item-content .comment{ float: left;}
.item-content .comment em, .item-content .collect em{ color: #999999; font-family: arial;}
.item-hover{ display: none; height: 210px; left: 0; position: absolute; top: 0; width: 100%;}
.big .item-hover{ height: 421px;}
.item-hover-bg{ background: #ff4400; cursor: pointer; height: 100%; left: 0; opacity: 0.8;  position: absolute; top: 0; width: 100%;}
.title{ color: #ffffff; padding: 0 10px; position: relative; top: 90px;}
.big .title{top: 200px;}
.go{ bottom: 15px; color: #ffffff; position: absolute; right: 10px;}
.screen-ft .gg{ height: 90px; margin: 0 auto; overflow: hidden; width: 1150px;}
.screen-ft .gg div{ float: left; margin-right: 20px;}
.screen-ft .gg .last-gg{ margin-right: 0;}
.s-adults,.s-new-p,.s-pay,.s-tb-s{background: url("../images/TB14v57GFXXXXacXVXXyTkXLpXX-500-444.png") no-repeat}
.s-adults{background-position: 0 -275px}
.s-new-p{ background-position: 0 -295px}
.s-pay{ background-position: 0 -315px}
.s-tb-s{ background-position: 0 -335px}
.helper{ border-top: 1px solid #e8e8e8; margin-top: 15px; overflow: hidden; padding: 30px 0;}
.helper .mod{ float: left; margin-right: -1px; width: 25%;}
.helper .mod .mod-wrap{ border-right: 1px solid #e8e8e8; overflow: hidden; padding: 0 25px;}
.helper .mod .mod-wrap h4{ margin-bottom: 5px; overflow: hidden;}
.helper .mod .mod-wrap h4 .iconfont{ color: #9c9c9c; float: left; font-size: 32px;margin-left: 3px}
.s-adults{ background-position: 0 -275px;}
.helper .mod .mod-wrap h4 span{ float: left; height: 0; margin: 15px 0 0 10px; overflow: hidden; padding-top: 17px; width: 80px;}
.helper .mod .mod-wrap li{ height: 21px; line-height: 21px; overflow: hidden;}
.helper .mod .mod-wrap li{ display: inline-block; float: none; margin-right: 10px; vertical-align: middle; width: auto;}
.helper .mod .mod-wrap li a{ color: #9c9c9c;}
.helper .mod .mod-wrap li a:hover{ color: #f40;}
.footer{ width: 100%; margin: 0 auto; position: relative;border-top: 2px solid #ff5400;  padding: 0;}
.footer-main{ margin: 0 auto;  padding: 7px 0 9px; position: relative;border-top:0;width: 100%}
.footer-bd p, .footer-hd p{ overflow: hidden; padding-bottom: 8px;}
.footer-hd p{ border-bottom: 1px solid #dddddd; line-height: 27px; margin-bottom: 8px;}
.footer-bd a, .footer-hd a{ color: #6c6c6c; float: left; margin: 0 4px; white-space: nowrap;}
.footer-bd b, .footer-hd b{ color: #dddddd; float: left; font-weight: 400; margin: 0 3px;}
.footer .footer-ft, .footer .footer-toy{ display: block;}
.footer .footer-ft .mod{ height: 40px;float: left;margin-right: 15px}
.footer .footer-ft .mod-icon{display: block; background: url("../images/T1wLGVFcRfXXXa78nI-400-200.png") no-repeat;margin-right: 15px}
.footer .footer-ft .mod-a{ float: left; background-position: 0 -140px; width: 30px;}
.footer .footer-ft .mod-b{ background-position: -40px -140px; width: 33px;}
.footer .footer-ft .mod-c{ background-position: -80px -140px; width: 50px;}
.footer .footer-ft .mod-d{ background-position: -140px -140px; width: 83px;}
.footer .footer-ft .mod-e{ background-position: -240px -140px; width: 94px;}
.footer .footer-bd em, .footer .footer-bd span, .footer .footer-hd em, .footer .footer-hd span{ color: #9c9c9c; float: left; white-space: nowrap;}
.footer .footer-bd span a, .footer .footer-hd span a{ float: none;}
.footer .footer-bd a:hover, .footer .footer-hd a:hover{ color:#f22e00!important}
.feedback{ -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #ebebeb #ebebeb -moz-use-text-color; border-image: none; border-style: solid solid none; border-width: 1px 1px 0; bottom: 10px; display: none; position: fixed; right: 10px; width: 38px; z-index: 100;}
.feedback .btn{ background: none repeat scroll 0 0 #f5f5f5; border-bottom: 1px solid #ebebeb; clear: both; cursor: pointer; display: block; float: left; height: 38px; line-height: 38px; overflow: hidden; text-align: center; width: 38px;}
.feedback .go-top{ border-bottom: 1px solid #ebebeb; display: none;}
.feedback .btn span{ color: #9c9c9c; font-size: 16px;}
.feedback .btn span{ color: #9c9c9c; font-size: 16px;}
.feedback .btn em{ display: none; font-size: 12px; line-height: 16px; margin: -36px auto 0; width: 24px;}
.feedback .btn:hover{ background: #999999; border-color: #999999;}
.feedback .btn:hover em{ color: #ffffff; display: block;}
.zhezhao{ background: #000;opacity: 0;position: fixed;top:0px;left:0px;z-index: 99999;display: none}
.zhezhao p{ font-size: 56px;color:white; margin:400px auto 0px;width: 520px;font-weight: bold;text-align: center;}

.vidBox{ width: 100%;height: 100%;position: fixed;z-index: 999999;top:0;left: 0;display: none}
.vidB_zz{ background: #000;filter:alpha(opacity=60);opacity: 0.6}
.vidBox span,.vidBox div{ position: absolute;}
.vidb_center_center{ width: 150px;height: 150px;top:0;left: 0;}
.vidb_center_center img{ filter:(alpha=60);opacity: 0.6;text-align: center;line-height: 150px}
.vidb_top{ width: 100%;top:0;}
.vidb_bottom{ width: 100%;bottom:0;}
.vidb_center_left{ left: 0;height: 150px;}
.vidb_center_right{ right: 0;height: 150px;}