/* ::::: http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css?ver=9.0.0 ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:active, a:hover { outline: 0px none; text-decoration: none}
h1 { margin: 0.67em 0px; font-size: 2em; }
small { font-size: 80%; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
@media print {
  * { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: transparent none repeat scroll 0% 0% ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  abbr[title]::after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]::after, a[href^="#"]::after { content: ""; }
  pre, blockquote { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  select { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
  .navbar { display: none; }
  .table td, .table th { background-color: rgb(255, 255, 255) ! important; }
  .btn > .caret, .dropup > .btn > .caret { border-top-color: rgb(0, 0, 0) ! important; }
  .label { border: 1px solid rgb(0, 0, 0); }
  .table { border-collapse: collapse ! important; }
  .table-bordered th, .table-bordered td { border: 1px solid rgb(221, 221, 221) ! important; }
}
@font-face {
  font-family: "Glyphicons Halflings";  src: url('') format("embedded-opentype"), url('') format("woff"), url('') format("truetype"), url('') format("svg");}
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; outline:none}
a:hover, a:focus { color: rgb(42, 100, 150);  outline:none}
a:focus { outline: thin dotted; outline-offset: -2px; outline:none}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small { font-weight: normal; line-height: 1; color: rgb(119, 119, 119); }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small { font-size: 65%; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h6, .h6 { font-size: 12px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
  .lead { font-size: 21px; }
}
small, .small { font-size: 85%; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
@media (min-width: 768px) {
  .dl-horizontal dt { float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap; }
  .dl-horizontal dd { margin-left: 180px; }
}
blockquote footer::before, blockquote small::before, blockquote .small::before { content: "— "; }
.blockquote-reverse footer::before, blockquote.pull-right footer::before, .blockquote-reverse small::before, blockquote.pull-right small::before, .blockquote-reverse .small::before, blockquote.pull-right .small::before { content: ""; }
.blockquote-reverse footer::after, blockquote.pull-right footer::after, .blockquote-reverse small::after, blockquote.pull-right small::after, .blockquote-reverse .small::after, blockquote.pull-right .small::after { content: " —"; }
blockquote::before, blockquote::after { content: ""; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.6667%; }
  .col-sm-10 { width: 83.3333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.6667%; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.6667%; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.6667%; }
  .col-sm-pull-10 { right: 83.3333%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.6667%; }
  .col-sm-pull-7 { right: 58.3333%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.6667%; }
  .col-sm-pull-4 { right: 33.3333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.6667%; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.6667%; }
  .col-sm-push-10 { left: 83.3333%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.6667%; }
  .col-sm-push-7 { left: 58.3333%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.6667%; }
  .col-sm-push-4 { left: 33.3333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.6667%; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.6667%; }
  .col-sm-offset-10 { margin-left: 83.3333%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.6667%; }
  .col-sm-offset-7 { margin-left: 58.3333%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.6667%; }
  .col-sm-offset-4 { margin-left: 33.3333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.6667%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-0 { margin-left: 0px; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.6667%; }
  .col-md-10 { width: 83.3333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.6667%; }
  .col-md-7 { width: 58.3333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.6667%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.6667%; }
  .col-md-1 { width: 8.33333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.6667%; }
  .col-md-pull-10 { right: 83.3333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.6667%; }
  .col-md-pull-7 { right: 58.3333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.6667%; }
  .col-md-pull-4 { right: 33.3333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.6667%; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.6667%; }
  .col-md-push-10 { left: 83.3333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.6667%; }
  .col-md-push-7 { left: 58.3333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.6667%; }
  .col-md-push-4 { left: 33.3333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.6667%; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.6667%; }
  .col-md-offset-10 { margin-left: 83.3333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.6667%; }
  .col-md-offset-7 { margin-left: 58.3333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.6667%; }
  .col-md-offset-4 { margin-left: 33.3333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.6667%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-0 { margin-left: 0px; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.6667%; }
  .col-lg-10 { width: 83.3333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.6667%; }
  .col-lg-7 { width: 58.3333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.6667%; }
  .col-lg-4 { width: 33.3333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.6667%; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.6667%; }
  .col-lg-pull-10 { right: 83.3333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.6667%; }
  .col-lg-pull-7 { right: 58.3333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.6667%; }
  .col-lg-pull-4 { right: 33.3333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.6667%; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.6667%; }
  .col-lg-push-10 { left: 83.3333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.6667%; }
  .col-lg-push-7 { left: 58.3333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.6667%; }
  .col-lg-push-4 { left: 33.3333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.6667%; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.6667%; }
  .col-lg-offset-10 { margin-left: 83.3333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.6667%; }
  .col-lg-offset-7 { margin-left: 58.3333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.6667%; }
  .col-lg-offset-4 { margin-left: 33.3333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.6667%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-0 { margin-left: 0px; }
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
@media screen and (max-width: 767px) {
  .table-responsive { width: 100%; margin-bottom: 15px; overflow-x: auto; overflow-y: hidden; border: 1px solid rgb(221, 221, 221); }
  .table-responsive > .table { margin-bottom: 0px; }
  .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td { white-space: nowrap; }
  .table-responsive > .table-bordered { border: 0px none; }
  .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child { border-left: 0px none; }
  .table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child { border-right: 0px none; }
  .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td { border-bottom: 0px none; }
}
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted; outline-offset: -2px; }
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(119, 119, 119); opacity: 1; }
@media (min-width: 768px) {
  .form-inline .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }
  .form-inline .input-group { display: inline-table; vertical-align: middle; }
  .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control { width: auto; }
  .form-inline .input-group > .form-control { width: 100%; }
  .form-inline .control-label { margin-bottom: 0px; vertical-align: middle; }
  .form-inline .radio, .form-inline .checkbox { display: inline-block; margin-top: 0px; margin-bottom: 0px; vertical-align: middle; }
  .form-inline .radio label, .form-inline .checkbox label { padding-left: 0px; }
  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { position: relative; margin-left: 0px; }
  .form-inline .has-feedback .form-control-feedback { top: 0px; }
}
@media (min-width: 768px) {
  .form-horizontal .control-label { padding-top: 7px; margin-bottom: 0px; text-align: right; }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label { padding-top: 14.3px; }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label { padding-top: 6px; }
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: normal; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); border-color: rgb(53, 126, 189); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(48, 113, 169); border-color: rgb(40, 94, 142); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-block { display: block; width: 100%; }
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] { width: 100%; }
@media (min-width: 768px) {
  .navbar-right .dropdown-menu { right: 0px; left: auto; }
  .navbar-right .dropdown-menu-left { right: auto; left: 0px; }
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 4px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child { border-top-left-radius: 0px; border-top-right-radius: 0px; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li { display: table-cell; width: 1%; }
  .nav-tabs.nav-justified > li > a { margin-bottom: 0px; }
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a { border-bottom: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 0px 0px; }
  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus { border-bottom-color: rgb(255, 255, 255); }
}
@media (min-width: 768px) {
  .nav-justified > li { display: table-cell; width: 1%; }
  .nav-justified > li > a { margin-bottom: 0px; }
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a { border-bottom: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 0px 0px; }
  .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus { border-bottom-color: rgb(255, 255, 255); }
}
@media (min-width: 768px) {
  .navbar { border-radius: 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
  .navbar-collapse.in { overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { padding-right: 0px; padding-left: 0px; }
}
@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 200px; }
}
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 768px) {
  .navbar-static-top { border-radius: 0px; }
}
@media (min-width: 768px) {
  .navbar-fixed-top, .navbar-fixed-bottom { border-radius: 0px; }
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0px; background-color: transparent; border: 0px none; box-shadow: none; }
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a { line-height: 20px; }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus { background-image: none; }
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
  .navbar-nav.navbar-right:last-child { margin-right: -15px; }
}
@media (min-width: 768px) {
  .navbar-left { float: left ! important; }
  .navbar-right { float: right ! important; }
}
@media (min-width: 768px) {
  .navbar-form .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
  .navbar-form .input-group { display: inline-table; vertical-align: middle; }
  .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control { width: auto; }
  .navbar-form .input-group > .form-control { width: 100%; }
  .navbar-form .control-label { margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .radio, .navbar-form .checkbox { display: inline-block; margin-top: 0px; margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .radio label, .navbar-form .checkbox label { padding-left: 0px; }
  .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] { position: relative; margin-left: 0px; }
  .navbar-form .has-feedback .form-control-feedback { top: 0px; }
}
@media (max-width: 767px) {
  .navbar-form .form-group { margin-bottom: 5px; }
}
@media (min-width: 768px) {
  .navbar-form { width: auto; padding-top: 0px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; border: 0px none; box-shadow: none; }
  .navbar-form.navbar-right:last-child { margin-right: -15px; }
}
@media (min-width: 768px) {
  .navbar-text { float: left; margin-right: 15px; margin-left: 15px; }
  .navbar-text.navbar-right:last-child { margin-right: 0px; }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: rgb(119, 119, 119); }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: rgb(51, 51, 51); background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: rgb(85, 85, 85); background-color: rgb(231, 231, 231); }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: rgb(204, 204, 204); background-color: transparent; }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: rgb(8, 8, 8); }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: rgb(8, 8, 8); }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: rgb(119, 119, 119); }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: rgb(255, 255, 255); background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus { color: rgb(255, 255, 255); background-color: rgb(8, 8, 8); }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: rgb(68, 68, 68); background-color: transparent; }
}
.breadcrumb > li + li::before { padding: 0px 5px; color: rgb(204, 204, 204); content: "/ "; }
@media screen and (min-width: 768px) {
  .jumbotron { padding-top: 48px; padding-bottom: 48px; }
  .container .jumbotron { padding-right: 60px; padding-left: 60px; }
  .jumbotron h1, .jumbotron .h1 { font-size: 63px; }
}
@media (min-width: 768px) {
  .modal-dialog { width: 600px; margin: 30px auto; }
  .modal-content { box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm { width: 300px; }
}
@media (min-width: 992px) {
  .modal-lg { width: 900px; }
}
.popover > .arrow, .popover > .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover > .arrow::after { content: ""; border-width: 10px; }
.popover.top > .arrow::after { bottom: 1px; margin-left: -10px; content: " "; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; }
.popover.right > .arrow::after { bottom: -10px; left: 1px; content: " "; border-right-color: rgb(255, 255, 255); border-left-width: 0px; }
.popover.bottom > .arrow::after { top: 1px; margin-left: -10px; content: " "; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.popover.left > .arrow::after { right: 1px; bottom: -10px; content: " "; border-right-width: 0px; border-left-color: rgb(255, 255, 255); }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { width: 30px; height: 30px; margin-top: -15px; font-size: 30px; }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { margin-left: -15px; }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { margin-right: -15px; }
  .carousel-caption { right: 20%; left: 20%; padding-bottom: 30px; }
  .carousel-indicators { bottom: 20px; }
}
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after { display: table; content: " "; }
.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after { clear: both; }
@media (max-width: 767px) {
  .visible-xs { display: block ! important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row ! important; }
  th.visible-xs, td.visible-xs { display: table-cell ! important; }
}
@media (max-width: 767px) {
  .visible-xs-block { display: block ! important; }
}
@media (max-width: 767px) {
  .visible-xs-inline { display: inline ! important; }
}
@media (max-width: 767px) {
  .visible-xs-inline-block { display: inline-block ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm { display: block ! important; }
  table.visible-sm { display: table; }
  tr.visible-sm { display: table-row ! important; }
  th.visible-sm, td.visible-sm { display: table-cell ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block { display: block ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline { display: inline ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block { display: inline-block ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md { display: block ! important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row ! important; }
  th.visible-md, td.visible-md { display: table-cell ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block { display: block ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline { display: inline ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block { display: inline-block ! important; }
}
@media (min-width: 1200px) {
  .visible-lg { display: block ! important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row ! important; }
  th.visible-lg, td.visible-lg { display: table-cell ! important; }
}
@media (min-width: 1200px) {
  .visible-lg-block { display: block ! important; }
}
@media (min-width: 1200px) {
  .visible-lg-inline { display: inline ! important; }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block { display: inline-block ! important; }
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none ! important; }
}
@media (min-width: 1200px) {
  .hidden-lg { display: none ! important; }
}
@media print {
  .visible-print { display: block ! important; }
  table.visible-print { display: table; }
  tr.visible-print { display: table-row ! important; }
  th.visible-print, td.visible-print { display: table-cell ! important; }
}
@media print {
  .visible-print-block { display: block ! important; }
}
@media print {
  .visible-print-inline { display: inline ! important; }
}
@media print {
  .visible-print-inline-block { display: inline-block ! important; }
}
@media print {
  .hidden-print { display: none ! important; }
}
/* ::::: http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css?ver=9.0.0 ::::: */

@font-face {
  font-family: "FontAwesome";  font-style: normal;  font-weight: normal;  src: url('') format("embedded-opentype"), url('') format("woff"), url('') format("truetype"), url('') format("svg");}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; -moz-osx-font-smoothing: grayscale; }

body { font-family: "Microsoft Yahei"; color: rgb(85, 85, 85); }
ul, ol, dl, dt, dd { margin: 0px; padding: 0px; }
ul { list-style: outside none none; }
a { color: rgb(102, 102, 102); }
a:hover { color: rgb(69, 182, 247); text-decoration: none; }
a:active { outline: 0px none; }
.btn { border-radius: 2px; padding: 6px 15px; }
.btn-primary { background-color: rgb(69, 182, 247); border-color: rgb(69, 182, 247); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-color: rgb(53, 160, 221); border-color: rgb(53, 160, 221); }
@media (min-width: 768px) {
  .container { width: auto; }
}
@media (min-width: 992px) {
  .container { width: auto; }
}
@media (min-width: 1200px) {
  .container { width: auto; }
}
body { background-color: rgb(246, 246, 246); position: relative; }
.container { position: relative; margin: 0px auto; max-width: 1200px; padding: 0px; }
.header { position: relative; top: 0px; left: 0px; right: 0px; z-index: 9; background-color: rgb(255, 255, 255); padding: 55px 0px 20px; margin-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.08); border-color: rgba(0, 0, 0, 0.08); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.03); }
.category-see .header, .page-template-pagesnav-php .header, .page-template-pagestheme-php .header, .page-template-pagestools-php .header, .page-template-pagesthemes-php .header, .category-job .header { box-shadow: none; border-bottom: medium none; margin-bottom: 0px; }
.logo { overflow: hidden; float: left; width: 137px; margin: 0px; }
.logo a { height: 32px; display: block; overflow: hidden; text-indent: -9999px; background-image: url(''); background-repeat: no-repeat; background-position: 50% 50%; }
.brand { font-size: 14px; float: left; line-height: 16px; color: rgb(187, 187, 187); padding-left: 10px; position: relative; top: 1px; border-left: 2px solid rgb(234, 234, 234); margin-left: 10px; height: 30px; }
.site-navbar { float: right; font-size: 18px; margin-top: 7px; margin-right: -15px; }
.site-navbar li { position: relative; float: left; }
.site-navbar li:hover { z-index: 2; }
.site-navbar a { display: block; padding: 0px 15px; color: rgb(102, 102, 102); }
.site-navbar li:hover > a, .site-navbar li.active a:hover, .site-navbar a:hover { color: rgb(69, 182, 247); }
.site-navbar li.active > a { color: rgb(69, 182, 247); }
.site-navbar .fa { width: 18px; }
.site-navbar .fa-angle-down { width: 11px; }
.topbar .fa { width: 14px; }
.topbar .fa-angle-down { width: 9px; }
.topbar { position: absolute; top: -39px; left: 0px; right: 0px; margin-bottom: 20px; margin-right: -15px; color: rgb(153, 153, 153); }
.topbar a { color: rgb(153, 153, 153); }
.topbar a:hover { color: rgb(69, 182, 247); }
.topmenu { float: right; }
.topmenu li { position: relative; float: left; }
.topmenu li:hover { z-index: 2; }
.topmenu a { display: block; padding: 0px 15px; color: rgb(153, 153, 153); }
.topmenu li:hover > a, .topmenu li.active a:hover, .topmenu a:hover { color: rgb(69, 182, 247); }
.topmenu .red { color: rgb(255, 94, 82); display: inline-block; }
.topmenu .red:hover { color: rgb(255, 94, 82); text-decoration: underline; }
.site-nav .sub-menu { display: none; position: absolute; top: 100%; left: 0px; background-color: rgb(255, 255, 255); font-size: 12px; padding: 6px 0px; border: 1px solid rgb(221, 221, 221); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); line-height: 32px; width: 132px; font-weight: bold; border-radius: 4px; }
.site-nav .sub-menu li { float: none; }
.site-nav .sub-menu a:hover { background-color: rgb(246, 246, 246); }
.site-nav li:hover > .sub-menu { display: block; }
.site-nav li:hover .fa-angle-down { transform: rotate(180deg); }
.sign-info { font-size: 12px; clear: both; margin-top: 10px; }
.site-search { background-color: rgba(255, 255, 255, 0.95); position: absolute; top: 0px; left: 0px; right: 0px; height: 100px; z-index: 1; }
.site-search-form { padding: 25px 20%; overflow: hidden; }
.search-input { float: left; color: rgb(153, 153, 153); border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 90%; height: 50px; padding: 4px 12px; font-size: 16px; border-radius: 2px 0px 0px 2px; outline: medium none; }
.search-input:focus { border-color: rgb(69, 182, 247); }
.search-btn { color: rgb(255, 255, 255); border: medium none; background: rgb(69, 182, 247) none repeat scroll 0% 0%; height: 50px; font-size: 16px; padding: 0px 12px; border-radius: 0px 2px 2px 0px; width: 10%; }
.search-btn:hover, .search-btn:focus { color: rgb(255, 255, 255); opacity: 0.85; }
.search-btn .fa { font-size: 16px; width: 16px; }
.eads a::after { content: ""; position: absolute; right: 0px; top: 0px; border-top: 15px solid rgb(248, 203, 0); border-left: 15px solid transparent; }
.article-nav span.article-nav-next::before { content: ""; position: absolute; left: 0px; top: 0px; height: 100%; display: block; width: 1px; background-color: rgb(238, 238, 238); }
.rollbar { position: fixed; right: 20px; bottom: 20px; z-index: 999;}
.rollbar ul { margin: 0px; padding: 0px; list-style: outside none none; width: 50px; }
.rollbar li { position: relative; margin-top: 5px; text-align: center; opacity: 0.4; }
.rollbar a { position: relative; z-index: 2; display: block; height: 50px; border-radius: 2px; background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); }
.rollbar a:hover { color: rgb(255, 255, 255); }
.rollbar .fa { line-height: 50px; font-size: 34px; }
.rollbar li:hover, .rollbar li:hover h6 { opacity: 0.9; }
.rollbar li:hover h6 { right: 100%; }
.rollbar h6 { position: absolute; z-index: 1; top: 50%; right: -15%; margin: -13px 10px 0px 0px; line-height: 26px; font-size: 12px; background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); width: 53px; border-radius: 2px; text-align: center; opacity: 0; }
.rollbar h6 i { position: absolute; right: -4px; top: 50%; margin-top: -4px; display: inline-block; width: 0px; height: 0px; vertical-align: middle; border-left: 4px solid rgb(102, 102, 102); border-top: 4px solid transparent; border-bottom: 4px solid transparent; }
.widget ul::before, .widget ul::after { display: table; content: ""; line-height: 0; }
.widget ul::after { clear: both; }
.sign { position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 999; perspective: 500px; transition: all 0.3s ease 0s; opacity: 0; visibility: hidden; overflow: auto; }
.sign-mask { position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(49, 59, 67); opacity: 0.9; }
.sign .container { background-color: rgb(231, 235, 239); width: 400px; position: absolute; height: 360px; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 9; margin: auto; transition: all 0.3s ease 0s; transform: rotateX(-20deg) translateZ(200px) translateY(20%); }
.sign .close-link { color: rgb(255, 255, 255); position: absolute; left: 100%; top: 0px; padding: 22px 0px; font-size: 18px; background-color: rgb(97, 179, 230); display: block; opacity: 0.85; width: 70px; text-align: center; }
.sign .close-link:hover { color: rgb(255, 255, 255); opacity: 1; }
.sign form { padding: 0px 50px; }
.sign h3 { margin: 0px -50px 20px; background-color: rgb(255, 255, 255); padding: 25px 50px; font-size: 18px; color: rgb(97, 179, 230); }
.sign h3 small { float: right; cursor: pointer; color: rgb(187, 187, 187); font-size: 14px; margin-top: 4px; }
.sign h6 { margin-bottom: 15px; }
.sign .sign-submit .btn { float: right; }
.sign .sign-submit label { margin-top: 8px; font-weight: normal; font-size: 12px; }
.sign .sign-submit label input { position: relative; top: 2px; margin-right: 4px; }
.sign-tips { position: absolute; bottom: 0px; background-color: rgb(253, 110, 110); left: 0px; right: 0px; height: 0px; line-height: 29px; padding: 0px 50px; color: rgb(255, 255, 255); font-size: 12px; overflow: hidden; }
.footer { position: relative; z-index: 9; clear: both; padding: 40px 30px; font-size: 12px; line-height: 12px; text-align: center; color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); border-top: 1px solid rgb(234, 234, 234); }
.footer a { color: rgb(153, 153, 153); }
.footer a:hover { color: rgb(102, 102, 102); }
.pageheader { overflow: hidden; background-color: rgb(97, 179, 230); padding: 25px 20px; margin-bottom: 15px; color: rgb(255, 255, 255); }
.pageheader h1 { font-size: 30px; margin: 0px; }
.pageheader .note { margin-top: 5px; }
.pageheader .share { float: right; height: 28px; margin: 17px 0px 0px; color: rgb(255, 255, 255); }
.pageheader .share a { width: 28px; height: 28px; background-color: rgb(255, 255, 255); border: 2px solid rgb(255, 255, 255); border-radius: 4px; opacity: 0.9; top: 0px; display: inline-block; margin-right: 5px; margin-bottom: -8px; position: relative; }
.pageheader .share .bds_count { border-left-color: rgb(255, 255, 255); }
.m-icon-nav { display: none; }
.m-mask { display: none; }
.site-navbar, .site-search, .widget-navcontent .item, .site-nav .fa-angle-down, .rollbar li, .rollbar h6, .btn, .search-btn, .pads h4, a { transition: all 0.25s ease 0s; }
@media (max-width: 1240px) {
  .container { margin: 0px 15px; }
}
@media (max-width: 1024px) {
  .content { margin-right: 0px; }
  .sidebar { display: none; }
  .site-search-form { padding: 25px 0px; }
  .navto-nav, .navto-design { display: none; }
}
@media (max-width: 850px) {
  .brand { display: none; }
  .topmenu .red { display: none; }
}
@media (max-width: 680px) {
  .logo { width: 80px; }
  .logo a { background-size: 100% auto; height: 24px; }
  .site-navbar { margin-top: 0px; }
}
@media (max-width: 640px) {
  body { padding-top: 52px; }
  .single { background-color: rgb(255, 255, 255); }
  .page-template-pagesnav-php, .page-template-pagestheme-php, .page-template-pagestools-php, .page-template-pagesthemes-php, .category-job { padding-top: 42px; }
  .container { margin: 0px 10px; }
  .single .container { margin: 0px; padding: 0px 10px; }
  .site-search { top: -100px; }
  .header .container { margin: 0px; }
  .navto-search { display: none; }
  .topbar { display: none; }
  .carousel-control { display: none; }
  .single .content { padding: 0px; border: medium none; }
  .article-header { text-align: left; padding: 15px 0px; }
  .article-title { font-size: 18px; font-weight: bold; margin-bottom: 5px; }
  .article-meta .item { margin-right: 10px; }
  .ads-post { margin-bottom: 15px; }
  .article-content img { border-radius: 5px; }
  .post-copyright { display: none; }
  .action-share { display: none; }
  .rollbar { right: -120px; }
  .article-content { font-size: 15px; line-height: 24px; }
  .article-content p, .article-content h2, .article-content h3, .article-content h4 { margin-bottom: 15px; }
  .article-content h2 { font-size: 16px; font-weight: bold; margin: 15px -10px; line-height: 18px; padding-left: 10px; border-left: medium none; }
  .article-content ul, .article-content ol { margin-left: 20px; }
  .pagetitle { padding: 10px 10px 6px; }
  .pagetitle h1 { font-size: 16px; font-weight: bold; }
  .excerpt { padding: 10px 10px 10px 180px; }
  .excerpt .focus { width: 160px; margin-left: -170px; }
  .excerpt .thumb { width: 160px; height: 109px; }
  .excerpt .note { display: none; }
  .excerpt .cat { display: none; }
  .excerpt h2 { font-size: 16px; line-height: 18px; }
  .page-template-pagesthemes-php .pageheader { margin-top: 0px; }
  .pageheader { padding: 10px; margin-bottom: 0px; }
  .pageheader h1 { font-weight: bold; font-size: 18px; }
  .pageheader .note { font-size: 12px; }
  .pageheader .share { display: none; }
  #themes .item { padding: 10px; }
  #themes .item h2 { font-size: 16px; font-weight: bold; padding: 10px; margin: -10px -10px 10px; }
  #themes .item .focus { margin-left: 0px; }
  #themes .item .thumb { width: 100px; height: 68px; }
  #themes .item .buy { margin-left: 10px; width: auto; float: left; border-left: medium none; margin-right: 0px; padding-bottom: 0px; }
  #themes .item .buy dfn { padding: 0px; }
  #themes .item .desc { clear: both; }
  .container-page { padding-left: 100px; }
  .container-page .content { padding: 10px; }
  .container-page .content::after { display: none; }
  .pageside { width: 95px; }
  .pagemenu { margin-bottom: 5px; }
  .pagemenu li a { padding: 8px 10px; font-size: 14px; font-weight: bold; }
  .topbar-user { display: none; }
  .header { position: fixed; top: 0px; left: 0px; right: 0px; text-align: center; padding: 0px; z-index: 99; }
  .logo { float: none; margin: 0px auto; }
  .logo a { height: 42px; }
  .site-navbar { float: none; margin-top: 0px; position: absolute; top: -1100%; left: 0px; right: 0px; background-color: rgb(68, 68, 68); text-align: left; padding: 20px 0px; opacity: 0; }
  .site-navbar { margin: 0px; line-height: 32px; font-size: 16px; }
  .site-navbar li { float: none; margin-left: 0px; }
  .site-nav li:hover > .sub-menu { display: none; }
  .site-nav .fa { display: none; }
  .site-navbar li a { display: block; padding: 10px 20px; margin: 0px; }
  .site-navbar li.active a, .site-navbar li.active a:hover { background-color: rgb(68, 68, 68); color: rgb(255, 255, 255); border-bottom: medium none; }
  .site-navbar .sub-menu { display: none; position: relative; top: 0px; box-shadow: none; background-color: transparent; border: medium none; border-radius: 0px; width: auto; margin-top: 0px; }
  .site-navbar .sub-menu li a { padding-left: 40px; }
  .navto-home, .navto-nav, .navto-ads { display: block; }
  .topbar-user { position: relative; margin: 20px 20px 0px 10px; }
  .branding { padding: 50px 10px; }
  .branding h1, .branding h2 { font-size: 24px; margin-bottom: 10px; }
  .newmsgs { display: none; }
  .pagetitle h1, .pagetitle h2, .pagetitle h3 { font-size: 16px; font-weight: bold; }
  .title h3 { font-size: 16px; }
  .title .more { display: none; }
  .footer { padding: 30px 0px 20px; }
  .footer nav { display: none; }
  .footer { padding: 15px 10px; }
  .footer .container { height: 32px; overflow: hidden; line-height: 16px; }
  .footer a:first-child { display: block; }
  .m-mask { position: fixed; top: 0px; right: 0px; left: 0px; bottom: 0px; background-color: transparent; z-index: 98; overflow: hidden; }
  .m-nav-show .m-mask { display: block; }
  .m-icon-nav { display: block; position: absolute; top: 0px; left: 0px; font-size: 19px; line-height: 40px; padding: 2px 10px 0px; color: rgb(153, 153, 153); }
  .m-nav-show .m-icon-nav { color: rgb(69, 182, 247); }
  .m-nav-show .site-navbar { opacity: 1; }
}
@media (max-width: 480px) {
  #homeslider { margin-bottom: 15px; }
  .pads { margin-right: -3%; }
  .pads li { width: 47%; margin-right: 3%; }
  .pads h4 { font-size: 12px; }
  .cat-first { padding: 10px 10px 10px 170px; }
  .cat-first .thumbnail { margin-left: -160px; width: 150px; }
  .cat-first .note { display: none; }
  .cat-first .meta .pc { display: none; }
  .cat-first h2 { font-size: 16px; line-height: 20px; }
  .cat-posts li { width: 50%; }
  .cat-posts li a { padding: 10px; }
  .cat-posts li:nth-child(1) { border-radius: 0px; }
  .cat-posts li:nth-child(1), .cat-posts li:nth-child(2) { border-bottom: medium none; }
  .cat-posts li:nth-child(3) { border-left: 1px solid rgb(234, 234, 234); border-radius: 0px 0px 0px 4px; }
  .excerpt { padding: 10px 10px 10px 120px; }
  .excerpt .focus { width: 100px; margin-left: -110px; }
  .excerpt .thumb { width: 100px; height: 68px; }
  .excerpt .note { display: none; }
  .excerpt h2 { overflow: hidden; display: block; position: relative; }
  .excerpt h2::before { content: ""; float: left; width: 5px; }
  .excerpt h2, .excerpt h2::before { height: 36px; }
  .excerpt h2 > :first-child { float: right; width: 100%; margin-left: -5px; }
  .excerpt h2::after { content: "…"; box-sizing: content-box; float: right; position: relative; top: -18px; left: 100%; width: 3em; margin-left: -3em; padding-right: 5px; text-align: right; background: transparent linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white) repeat scroll 0% 0%; }
}
@media (max-width: 346px) {
  .cat-ebox li { width: 100%; border-right: medium none; }
  .cat-ebox li:first-child { border-bottom: 2px solid rgb(234, 234, 234); }
  .cat-posts li a { height: 170px; }
  .article-header { padding: 10px 0px; text-align: left; }
  .article-meta .item:nth-child(2) { display: none; }
  .article-title { font-size: 16px; }
  .excerpt h2 { font-size: 14px; line-height: 18px; }
  .excerpt .pc { display: none; }
  .excerpt .pv { margin-right: 0px; }
  .pagination ul > li { display: none; }
  .pagination ul > li.prev-page, .pagination ul > li.next-page { display: inline; }
  .pagination ul > li.next-page a { background-color: rgb(97, 179, 230); color: rgb(255, 255, 255); }
  .btn-lg { padding: 8px 20px; font-size: 14px; }
  #commentform { padding-left: 0px; }
  #respond { overflow: hidden; width: 100%; }
  .comt { padding-left: 0px; }
  .comt-title { width: auto; float: none; margin-left: 0px; overflow: hidden; margin-bottom: 10px; }
  .comt-avatar { width: 30px; height: 30px; float: left; margin-right: 5px; }
  .comt-avatar .avatar { width: 30px; height: 30px; border-radius: 50%; }
  .comt-comterinfo { width: 100%; }
  .comt-comterinfo .text-muted { display: none; }
  .comt-comterinfo input { width: 100%; margin-right: 0px; box-shadow: none; }
  .comment-reply-link, .comt-info { position: relative; top: 0px; display: inline-block; margin-left: 10px; }
  .comt-main { margin-right: 0px; margin-left: 40px; }
  .comt-f { display: none; }
  .commentlist > .comment .children { margin-left: 0px; }
  .commentlist > .comment.depth-1 > .children { margin-left: 46px; }
  .comt-author { display: inline-block; }
  .branding { padding: 30px 10px; }
  .branding h1, .branding h2 { font-size: 16px; font-weight: bold; margin-bottom: 10px; }
  .branding p { font-weight: normal; }
}
/* ::::: http://www.daqianduan.com/static/css/nav.css?ver=9.0.0 ::::: */

#navs { color: rgb(170, 170, 170); }
#navs h2 { font-size: 20px; font-weight: normal; color: rgb(255, 255, 255); padding: 10px; background-color: rgb(97, 179, 230); margin: 0px; }
#navs .item { overflow: hidden; margin: 20px 0px 30px; }
#navs .item h2 { width: 140px; padding: 11px 15px; margin: 0px; font-size: 18px; }
#navs .item ul { margin-right: -1%; }
#navs .item li { float: left; width: 19%; margin-right: 1%; margin-top: 1%; padding: 15px; font-size: 12px; height: 89px; overflow: hidden; background-color: rgb(255, 255, 255); border-bottom: 15px solid rgb(255, 255, 255); }
#navs .item li a { margin-bottom: 5px; display: inline-block; font-size: 14px; font-weight: bold; color: rgb(97, 179, 230); border-bottom: 2px solid transparent; }
#navs .item li a:hover { color: rgb(253, 140, 132); border-bottom-color: rgb(253, 140, 132); }
#navs .items { margin-left: 160px; }
#navs nav { width: 140px; position: absolute; top: 0px; left: 0px; height: 100%; background-color: rgb(97, 179, 230); }
#navs nav ul { width: 140px; }
#navs nav a { display: block; padding: 10px 20px; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(85, 165, 216); }
#navs nav a:hover, #navs nav .active a { background-color: rgb(85, 165, 216); color: rgb(255, 255, 255); }
.pageheader { margin: 0px; }
@media (max-width: 1280px) {
  #navs .items { margin-right: 10px; }
}
@media (max-width: 1024px) {
  .pageheader { margin-top: 0px; }
  #navs .item { margin-top: 10px; }
  #navs .items { margin: 0px 10px; }
  #navs nav { display: none; }
  #navs .item li { width: 24%; }
}
@media (max-width: 640px) {
  #navs .item li { width: 32.3333%; }
  #navs .item h2 { width: auto; text-align: center; }
}
@media (max-width: 320px) {
  #navs .item li { width: 49%; }
}
/* ::::: http://www.daqianduan.com/static/css/share.css ::::: */

.bdshare-button-style0-24 a { width: 24px; height: 24px; display: inline-block; margin-right: 5px; background: transparent url('') repeat scroll 0% 0%; cursor: pointer; margin-bottom: -8px; opacity: 0.8; position: relative; top: -2px; }
.bdshare-button-style0-24 a:hover { opacity: 1; }
.bdshare-button-style0-24 a.bds_tsina { background-position: 0px 0px; }
.bdshare-button-style0-24 a.bds_weixin { background-position: 0px -32px; }
.bdshare-button-style0-24 a.bds_qzone { background-position: 0px -65px; }
.bdshare-button-style0-24 a.bds_sqq { background-position: 0px -98px; }
.bdshare-button-style0-24 a.bds_renren { background-position: 0px -131px; }
.bdshare-button-style0-24 a.bds_tqq { background-position: 0px -163px; }
.bdshare-button-style0-24 a.bds_douban { background-position: 0px -196px; }
.bdshare-button-style0-24 a.bds_fbook { background-position: 0px -226px; }
.bds_count { border-left: 1px solid rgb(221, 221, 221); padding: 0px 12px; margin-left: 5px; }
.container h1 a { color:white;}
.container h1 a:hover{color: white}